[submodule "3rdparty/bx"]
	path = 3rdparty/bx
	url = git://github.com/bkaradzic/bx.git
[submodule "3rdparty/bimg"]
	path = 3rdparty/bimg
	url = git://github.com/bkaradzic/bimg.git
[submodule "3rdparty/bgfx"]
	path = 3rdparty/bgfx
	url = git://github.com/bkaradzic/bgfx.git
